<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asag.serial"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:name="com.asag.serial.app.SerialApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.asag.serial.Welcome"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.asag.serial.DetailsSetActivity"
            android:configChanges="locale|screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/BaseDialogTheme" >
        </activity>
        <activity
            android:name="com.asag.serial.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.asag.serial.MainPageActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" >
            
        </activity>
        <activity
            android:name="com.asag.serial.ParamsSetActivity"
            android:configChanges="locale|screenSize|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/BaseDialogTheme"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.asag.serial.CheckParamsSetActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" > </activity>
        <service android:name="com.asag.serial.service.SerialService"
            android:priority="1000"></service>
        
        <receiver android:name="com.asag.serial.alarm.JcAlarmReceiver">
            <intent-filter >
                <action android:name="com.serial.action.ALARM_CHECK"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>